{% extends 'base.html.twig' %}

{% block main %}
    <div id="contenedor_newTipoSoporte">
        <h2>Ver Tipo de soporte</h2>
        <div class="row">
            <div class="col l8 m8">

                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <a class="btn" type="submit" href="javascript:GuardarTipoSoporte('{{ path('tiposoporte_new', {'id':  tipoSoporte.id  }) }}')">Guardar</a>
                {{ form_end(form) }}
                <ul>    
                    <li>
                        <a href="javascript:cargarVista('{{ path('tiposoporte_index') }}','#contenedor_tipoSoportes')">Volver</a>
                    </li>
                </ul>
            </div> 
            <div class="col l4 m4"></div>
        </div> 
    </div>         

    
{% endblock %}
